header {
    text-align: center;
}

.logo-9 {
    position: relative;
    text-decoration: none;
}

.logo-9 a {
    text-decoration: none;
}

.logo-9 h3 {
    font-family: asap, arial;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
    position: relative;
    z-index: 1;
    color: #0d75fd;
    text-shadow: 0 2px 2px #ddd;
    text-decoration: none;
}

.center
{
    margin: auto;
    text-align: center
}