{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class=" container min-vh-100  align-items-center">
    <form class="form-floating" action="/shorten" method="post">
        
            <input autocomplete="off" autofocus type="text" class="form-control" id="floatingInputValue" name="url"
                placeholder="www.example.com">
            <label for="floatingInputValue">Enter URL</label>
        
        <div style="margin-top: 15px;">
            <button type="submit" class="btn btn-primary btn-block">Shorten</button>
        </div>
    </form>

</div>

{% endblock %}